

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #4caf50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  background-color: #07423f;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #07423f;
  color: white;
  margin-top: 10px;
  border: none;
  display: none;
}


input[type=text] {
  padding: 12px 20px;
  margin: 16px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  color: white;
  padding: 12px 20px;
  margin: 8px 8px;
  border: none;
  cursor: pointer;
  background-color: #07423f;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.noteForm {
  width: 60%;
  margin: 20px auto 0 auto;
  border: 2px solid #b4c2bc;
  border-radius: 5px; 
  transition: height 2s ease-in;
}

#noteTitleInput, div.formFooter {
  display: none;
}

.noteForm > input[type=text] {
  width: 95%;
  margin: 0;
  background-color: #07423f;
  border: none;
  color: white;
}

.noteForm > input:focus {
  outline: none;
}

.noteForm > input::placeholder {
  color: #b4c2bc
}

.formFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.iconButtonsContainer {
  display: flex;
  flex-direction: row;
}

.iconButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  margin: 0 10px;
  outline: none;
}

.iconButton:hover{
  transition: 1.5s;
  color: black;
  background-color: silver;
}


.notes {

  animation-duration: 3s;
  animation-name: moveNotes;
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-gap: 10px;
  padding: 10px;
  
  
}


.notes > div {
  animation-duration: 3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #07423f;
  border: 2px solid #b4c2bc;
  border-radius: 5px;
  min-height: 120px;
  padding: 10px;
  color: #b4c2bc;
  cursor: move;
}


.notes > div > span {
  font-size: 14px;
  font-family: Roboto-Light;
}

@media screen and (max-width: 992px) and (min-width: 601px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
  .notes {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 0;
    transition: 0.5s;
  }
  div.content {
    margin-left: 0;
  }
  .openbtn {
      display: block;
  }
  .notes {
    grid-template-columns: auto;
  }
  .noteForm {
    width: 90%;
    margin: 0 auto;
  }
  input[type=text] {
    width: 70%;
  }
}
